.nav1{
    position: sticky;
    background-color: chocolate;
    top:0;
    left:0;
    opacity:0.86;
    border-radius: 10px;

}
body{
    background-color: aqua;
}
a{
    margin-right: 50px;
    margin-left: 40px;
    
    
}
.ip1{
    margin-left: 155px;
    background-color:pink;
    margin-right: 155px;
}
.ip2{
    background-color:yellow;
    margin-right: 155px;
}
.ip3{
    background-color:palevioletred;
    margin-right: 155px;
}
.ip4{
    background-color:mediumslateblue;
}
